@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Grape+Nuts&family=Oxanium:wght@300;400;500;600;700;800&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom,#6ab7f5, #fff);
    min-height: 100vh;
}

main{    
    display: inline-block;
    margin-top:2%;
    padding:2%;
    position: relative;
}

.pokedex{
    width: 100%;
    max-width: 550px;
}

.pokemonImage{
    position: absolute;
    bottom:62%;
    left: 45%;
    transform: translate(-27%,0);
    height: 15%;
}

.pokemonData{
    position: absolute;
    font-weight: 600;
    font-size: clamp(3px, 3.5vw, 18px);
    color: #fa0000;
    top: 17%;
    left: 35%;
    transform: translate(24%,20%)
}

.pokemonName{
    color: #3a444d;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 100%;
    top:13%;
    left: 00%;
    
   
}


::placeholder{
    text-align: center;
    color: rgb(255, 230, 0);
}

.inputSearch{
    width: 28%;
    outline: none;
    font-weight: 600;
    
    background-color:rgb(29, 29, 29);;
    color: #fff;
    border:none;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 35.5%;
    left: 30%;
    transform: translate(39%,0%);
    border: none;
    gap:3px;
   
    
}
button{
    color:#fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

button:hover{
    transform: scale(1.8);
    transition: 0.2s all;
    color: blue;
}
.buttonPrev{
    margin-right:190%;
}

@media only screen and (max-width: 900px){
    .form{
        position: absolute;
        width: 100%;
        top:13%;
        left: 00%;        
        transform:translate(-1%,-70%)
    }

    .buttons{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 35.5%;
        left: 30%;
        transform: translate(-10%,30%);
        gap:1px;
    }

    .buttonNext{
        margin-right:150%;
    }
}

